.logo {
    width: 250px;
    height: 250px;
}

header {
    background: rgba(113, 113, 114, 0.637);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

 nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(255, 136, 0);
    text-decoration: underline;
}

 .produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
 }

 .produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
 }

 .produtos li:hover {
    border-color: rgb(255, 136, 0);
 }

.produtos li:active {
    border-color: rgb(9, 160, 9);
}

.produtos li:hover h2 {
    font-size: 34px;
}

 .produtos h2 {
    font-size: 30px;
    font-weight: bold;

 }

 .produto-descriçao {
    font-size: 18px;
}

 .produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
 }

 .img {
    width: 200px;
    height: 200px;
    padding: 20px;
 }

 footer {
    text-align: center;
    background: url(fundo.jpg);
    padding: 10px 0;
 }

 .copyrigth {
   margin-top: 15px;
   color: rgb(255, 255, 255);
   font-size: 13px;
 }

 .logo-jordan {
    width: 200px;
    height: 200px;
 }
