.logo {
    width: 250px;
    height: 250px;
}

header {
    background: rgba(113, 113, 114, 0.637);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

 nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

 .bola {
    width: 200px;
    height: 200px;
 }

 .uniforme {
    width: 200px;
    height: 200px;
 }

 .tenis {
    width: 200px;
    height: 200px;
 }