body {
    background: rgba(144, 144, 146, 0.288);
}

h1 {
    text-align: center;
    color: rgb(58, 211, 231);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 35px; 
    text-align: center;
    color: rgb(58, 211, 231);
}

h3 {
    text-align: center;
    color: chartreuse;
}