body {
    width: 100%;
    height: 100%;
    \\background: #C4C3CC;
    font: normal 16px Arial, Verdana, Serif;
    text-align: justify;
}

h1 {
    \\background:#001aff; 
    \\font-size: 35px;
    \\text-align: center;
    \\color: #ffffff;
   \\margin-top: -1%;
    \\margin-bottom: 0%;
}

.borda1 {
    border-style: solid;
    border-color:#ff0505;
    border-radius: 10px;
    margin-left: 572px;
    margin-right: 572px;
    margin-top: 0px;
}

#foto1 { 
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.principal {
    background: #a1b0f5a4;
    padding: 30px;
    border-radius: 10px;
}

strong {
    
}

p {
    text-indent: 15px;
}

h2 {
    font-size: 23px; 
    text-align: center;
    color: #000000;
    margin-top: -2%;
    margin-bottom: 0%;
}

.borda2 {
    \\border-style: solid;
    \\border-color:#fa4922;
    \\border-radius: 10px;
    \\margin-left: 400px;
    \\margin-right: 400px;
    \\margin-top: 4px;
}

h3 {
    font-size: 23px; 
    text-align: center;
    color: #000000;
    margin-bottom: 0%;
}

.borda3 {
    \\border-style: solid;
    \\border-color:#eb0808;
    \\border-radius: 10px;
    \\margin-left: 300px;
    \\margin-right: 300px;
    margin-top: 4px;
}

.container {
    background: #f79e9e8a;
    padding: 20px;
    display: table;
    border-radius: 10px;
    position: relative;
}

h4 {
    color: #000000;
    font-size: 23px;
}

.borda4 {
    position: absolute;
    top: 0;
    left: 60%;
    margin-top: 10px;

    \\background: #f8451c;
    \\border-style: solid;
    \\border-color:#f51717;
    \\border-radius: 10px;
    \\margin-left: 20px;
    \\margin-right: 1115px;
    \\margin-top: 4px;
    \\margin-bottom: 10px;
}

li {
    text-align: center;
}

.curi ul {
    display: table-cell;
    list-style: none;
    width: 30%;
    right: 15%;
    float: left;
    margin-right: 50px;
}

.curiosidade {
    margin-top: 0px;
    margin-bottom: 130px;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

h5 {
    margin-top: 0%;
    font-size: 23px;
    color: #000000;
    margin-bottom: 0%;
}

.quadra {
    width: 830px;
    height: 350px;
    border-radius: 10px;
}

.fotoquadra ul {
    list-style: none;
    display: table-cell;
    float: left;
    object-fit: cover;
}

h6 {
    color: #000000;
    font-size: 23px;
    margin-bottom: 0%;
}

.nba {
    height: 220px;
    width: 300px;
}

.nbb {
    height: 220px;
}

.rodape {
    font-size: 35px;
    text-align: center;
}