body {
    background: #D3E9FC;
}

h1 {
    text-align: center;
    color: #FAA982;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 35px; 
    text-align: center;
    color: #FAA982;
}

h3 {
    text-align: center;
    color: #FAA982;
}