body {
  font-family: 'Nunito', sans-serif; 
}

/*Produtos de venda*/

.logo {
    width: 300px;
    height: 300px;
}

header {
    background: linear-gradient( rgb(0, 0, 0)5%, rgb(255, 255, 255)90%);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 740px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 130px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

 nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(255, 136, 0);
    text-decoration: underline;
}

 .produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
 }

 .produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
 }

 .produtos li:hover {
    border-color: rgb(255, 136, 0);
 }

.produtos li:active {
    border-color: rgb(9, 160, 9);
}

.produtos li:hover h2 {
    font-size: 34px;
}

 .produtos h2 {
    font-size: 30px;
    font-weight: bold;

 }

 .produto-descriçao {
    font-size: 18px;
}

 .produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
 }

 .img {
    width: 200px;
    height: 200px;
    padding: 20px;
 }

 footer {
    text-align: center;
    background: url(fundo.jpg);
    padding: 10px 0;
 }

/*formulário/ CONTATO*/

main {
  
}

form {
  margin: 40px 0;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: rgb(255, 115, 0);
  color: rgb(252, 252, 252);
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 2s ease-in-out;
  cursor: pointer;
}

.enviar:hover {
  background: rgb(1, 163, 1);
  transform: rotate(360deg) scale(1.2);
}

/*Tabela de horario*/

table {
  margin: 20px 0 40px;
}

thead {
  background: royalblue;
  color: black;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

 /* Css da pagina inicial */

.banner {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal {
  padding: 3em 0;
  background: #ffffff;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.panfleto {
  width: 150px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient( rgb(255, 255, 255), #faa200);
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  padding: 3em 0;
  background: #faa200;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "✸";
}

.imagem-beneficios {
  width: 60%;
}

.video {
  width: 560px;
  margin: 2em auto;
 }

.logo-basquete {
  width: 200px;
  height: 200px;
 }

.logo-jordan {
   width: 200px;
   height: 200px;
}

.copyrigth {
  margin-top: 15px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}